body {
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
}

fieldset {
    border: 3px dotted red;
}
field-title {
    color: #e42313;
    text-transform: uppercase;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 501;
}