body {
    width: 21cm;
    height: 29.7cm;
    margin: 20mm 100px 30mm 100px ; 
}

fieldset {
    border: 3px dotted red;
}

field-title {
    color: #e42313;
    text-transform: uppercase;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 501;
}

h1 {
    color: #e42313;
    text-transform: uppercase;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 501;
}

h2 {
    color: #9c1c10;
    text-transform: uppercase;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 501;
}

#intern {
    margin-top: 18px;
}

#image-logo2 {
    width: 7%;
}

#text-logo21 {
    position: relative;
    align-content: center;
}

.infos-entreprise {
    display: flex;
    flex-direction: column;
}

.div-entreprise {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.div-stagiaire {
    display: flex;
    flex-direction: row;
}

.infos-stagiaire {
    display: flex;
    flex-direction: column;
}
.div-attitude-general {
    display: flex;
    flex-direction: row;
}
.Très-bien {
    display: flex;
    flex-direction: column;
}
input[type=number] {
    width: 55px;
}